{{#each monkeys}}
<div class="monkey">
    <h2>{{name}}</h2>
    <img src="http://127.0.0.1:5501/{{image}}">
    <button class='info' onclick="toggle(this)">Info</button>
    <p style="display: none" id="{{id}}">{{info}}</p>
</div>
{{/each}}